@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-text-shimmer {
    background-size: 200% auto;
    animation: textShimmer 4s linear infinite;
  }
}

@keyframes textShimmer {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}